@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Quicksand&family=Raleway&family=Source+Code+Pro&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff3db;
	margin: 0 90px;
}

h1 {
  font-family: 'Kurale', sans-serif;
  font-size: 30px;
  text-align: center;
	margin-bottom: -10px;
}

h2 {
  font-family: 'Kurale', sans-serif;
  font-size: 20px;
  text-align: center;
}

h3 {
  text-align: center;
	margin-bottom: -5px;
}

p {
  font-size: 18px;
  text-align: center;
}

#image {
  display: block;
  max-width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #1473a9;
  border-radius: 10px;
}

#img-caption {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#tribute-info {
	margin-right: 20px;
	margin-left: 20px;
}

#tribute-link {
  text-decoration: none;
  color: #1473a9;
  font-family: 'Quicksand', sans-serif;
}

#tribute-link:hover {
  color: gray;
}

.footer {
  color: #535c68;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 5px;
  font-size: 1rem;
}

.footer a {
  text-decoration: none;
  color: #82ccdd;
}

.footer a:hover {
  color: #0a3d62;
}